asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
Django==4.2.6
django-bootstrap-v5==1.0.11
elastic-transport==8.4.1
elasticsearch==8.10.0
elasticsearch-dsl==8.9.0
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.26.17
