/* General styling */
  body {
    font-family: Arial, sans-serif;
    background-color:#d62828;
  }
  
  .container {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  /* Title and Description */
  h1, p, h2, a, label{
    margin-bottom: 1em;
    color: aliceblue;
  }
  
  /* Textbox */
  textarea.form-control {
    resize: vertical;
    max-height: 300px;
  }
  

  #submit-button:hover {
    color:#d62828
  }

  /* Submit Button */
  .btn-block {
    width: 100%;
    font-size: 3em;
    background-color: #003049;
    color: #fcbf49;
    text-align: center;
    vertical-align: middle;
    border: none;

  }

  .btn-block:hover {
    background-color: #ffffff;
  } 

  .textbox, .textbox:focus{
    background-color:#ffffff;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .btn-block {
      height: 150px;
      font-size: 1.2em;
    }
  }
  

  #slider {
    width: 60%;
    margin: 0 auto;
  }
  
  .ui-slider-handle {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  
  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

.genre-container {
  background-color: #FFFFFF;
}

.genre-container h2 {
  color: #003049;
}

.cat1-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.plat-container {
  background-color: #003049;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cat2-container {
  background-color: #003049;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50vw;
}

.cat{
  background-color: #104068;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  overflow: hidden;
  margin: 2vh 2vw;
  width: 10vw;
  height: 8vh;
}

.cat label {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
}

.cat label span {
  text-align: center;
  font-size: 2vh;
  display: block;
  height: 100%;
  width: 100%;
}

.cat label input {
  position: absolute;
  display: none;
  color: #FFFFFF;
}

/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{
  color: #FFFFFF;
}

/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
  color: #FFFFFF;
  background-color: #FCBF49;
}

#slider-container {
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 25vh;
}

#slider-container h2 {
  color:#003049
}

