{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BrainRot - Game Recommendation</title>

  <!-- Loading jQuery UI CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- Loading Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Loading Custom CSS -->
  <link rel="stylesheet" href="{% static 'styles_survey.css' %}">
</head>
<body>

  <!-- Navbar Section -->
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">BrainRot</a>
    </div>
  </nav>

  <!-- Main Content Section -->
  <form id="gameRecommendationForm" class="container mt-4 text-center">
    <h1>Welcome to BrainRot</h1>
    <p>This is a game recommendation website.</p>

    <br><br>
    
    <!-- Genre Selection Section -->
    <div class="plat-container">
      <br>
      <h2>Select a Game Genre</h2>
      <div class="cat1-container">
        <div class="cat">
          <label><input type="checkbox" name="genre-cbx" value="Adventure"><span>Adventure</span></label>
        </div>      
        <div class="cat">
          <label><input type="checkbox" name="genre-cbx" value="RPG"><span>RPG</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Puzzle"><span>Puzzle</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Brawler"><span>Brawler</span></label>
        </div>
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Indie"><span>Indie</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Platform"><span>Platform</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Turn_Based_Strategy"><span>Turn Based Strategy</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Simulator"><span>Simulator</span></label>
        </div>
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Shooter"><span>Shooter</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Strategy"><span>Strategy</span></label>
        </div> 
        <div class="cat">
          <label><input type="checkbox" name="genre-cbx" value="Music"><span>Music</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Music"><span>Arcade</span></label>
        </div>
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Fighting"><span>Fighting</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Visual_Novel"><span>Visual Novel</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Tactical"><span>Tactical</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Card_Board_Game"><span>Card & Board Game</span></label>
        </div>
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Sport"><span>Sport</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Racing"><span>Racing</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="MOBA"><span>MOBA</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Point-and-Click"><span>Point-and-Click</span></label>
        </div>
        <div></div>
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Real_Time_Strategy"><span>Real Time Strategy</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Quiz_Trivia"><span>Quiz/Trivia</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="genre-cbx" value="Pinball"><span>Pinball</span></label>
        </div> 
      </div>
      <br>
    </div>

    <br><br><br>

    <!-- Platform Selection Section -->
    <div class="plat-container">
      <br>
      <h2>Select Your Platforms</h2>
      <div class="cat2-container">
        <div class="cat" >
          <label><input type="checkbox" name="plat-cbx" value="PC"><span>PC</span></label>
        </div>      
        <div class="cat" >
          <label><input type="checkbox" name="plat-cbx" value="playstation"><span>Playstation</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="plat-cbx" value="xbox"><span>Xbox</span></label>
        </div> 
        <div class="cat" >
          <label><input type="checkbox" name="plat-cbx" value="nintendo"><span>Nintendo</span></label>
        </div>
        <div class="cat" >
          <label><input type="checkbox" name="plat-cbx" value="oculus"><span>Oculus</span></label>
        </div>     
        <!-- <div class="cat" name="plat-cbx" value=""> -->
          <!-- <label><input type="checkbox" value="1"><span>Any</span></label> -->
        <!-- </div>       -->
      </div>
      <br>
    </div>

    <br><br><br>

    <!-- Minimum Price Slider Section -->
    <div class="slider-container row">
      <br>
      <h2>Select a Minimum Rating</h2>
      <div id="slider" class="col-2"></div>
      <div class="col-1">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>
    </div>

    <br><br><br>

    <!-- User Input Textbox Section -->
    <div class="mb-3 text-center">
      <label for="gameDescription" class="form-label">Describe the game you want to be recommended:</label>
      <textarea class="form-control textbox" id="gameDescription" name="gameDescription" rows="3"></textarea>
      <br><br><br>
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="submit-button"> Submit</button> 
    </div>

  </form>
  <form id="gameRecommendationForm2" class="container mt-4 text-center">
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="random-button"> I'm Feeling Lucky</button> 
    </div>
  </form>
  
  <!-- Loading Scripts -->
  <!-- Loading jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- Loading jQuery UI -->
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- Loading Bootstrap JS (Optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Loading Custom JS -->
  <script src="{% static 'script.js' %}"></script>
</body>
</html>