{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BrainRot - Game Recommendation</title>

  <!-- Loading jQuery UI CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
  <!-- Loading Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Loading Custom CSS -->
  <link rel="stylesheet" href="{% static 'styles_survey.css' %}">
</head>
<body>

  <!-- Navbar Section -->
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">BrainRot</a>
    </div>
  </nav>

  <!-- Main Content Section -->
  <form id="gameRecommendationForm" class="container mt-4 text-center">
    <h1>Welcome to BrainRot</h1>
    <p>This is a game recommendation website.</p>

    <br><br>
    
    <!-- Genre Selection Section -->
    <div class="genre-container">
      <br>
      <h2>Select a Game Genre</h2>
      <div class="cat1-container">
        <div class="cat" name="genre-cbx" value="Adventure">
          <label><input type="checkbox" value="1"><span>Adventure</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="RPG">
          <label><input type="checkbox" value="1"><span>RPG</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Puzzle">
          <label><input type="checkbox" vaxlue="1"><span>Puzzle</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Brawler">
          <label><input type="checkbox" value="1"><span>Brawler</span></label>
        </div>
        <div class="cat" name="genre-cbx" value="Indie">
          <label><input type="checkbox" value="1"><span>Indie</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="Platform">
          <label><input type="checkbox" value="1"><span>Platform</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Turn_Based_Strategy">
          <label><input type="checkbox" value="1"><span>Turn Based Strategy</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Simulator">
          <label><input type="checkbox" value="1"><span>Simulator</span></label>
        </div>
        <div class="cat" name="genre-cbx" value="Shooter">
          <label><input type="checkbox" value="1"><span>Shooter</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="Strategy">
          <label><input type="checkbox" value="1"><span>Strategy</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Music">
          <label><input type="checkbox" value="1"><span>Music</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Arcade">
          <label><input type="checkbox" value="1"><span>Arcade</span></label>
        </div>
        <div class="cat" name="genre-cbx" value="Fighting">
          <label><input type="checkbox" value="1"><span>Fighting</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="Visual_Novel">
          <label><input type="checkbox" value="1"><span>Visual Novel</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Tactical">
          <label><input type="checkbox" value="1"><span>Tactical</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Card_Board_Game">
          <label><input type="checkbox" value="1"><span>Card & Board Game</span></label>
        </div>
        <div class="cat" name="genre-cbx" value="Sport">
          <label><input type="checkbox" value="1"><span>Sport</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="Racing">
          <label><input type="checkbox" value="1"><span>Racing</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="MOBA">
          <label><input type="checkbox" value="1"><span>MOBA</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Point-and-Click">
          <label><input type="checkbox" value="1"><span>Point-and-Click</span></label>
        </div>
        <div></div>
        <div class="cat" name="genre-cbx" value="Real_Time_Strategy">
          <label><input type="checkbox" value="1"><span>Real Time Strategy</span></label>
        </div>      
        <div class="cat" name="genre-cbx" value="Quiz_Trivia">
          <label><input type="checkbox" value="1"><span>Quiz/Trivia</span></label>
        </div> 
        <div class="cat" name="genre-cbx" value="Pinball">
          <label><input type="checkbox" value="1"><span>Pinball</span></label>
        </div> 
      </div>
      <br>
    </div>

    <br><br><br>

    <!-- Platform Selection Section -->
    <div class="plat-container">
      <br>
      <h2>Select Your Platforms</h2>
      <div class="cat2-container">
        <div class="cat" name="plat-cbx" value="computer">
          <label><input type="checkbox" value="1"><span>Computer</span></label>
        </div>      
        <div class="cat" name="plat-cbx" value="playstation">
          <label><input type="checkbox" value="1"><span>Playstation</span></label>
        </div> 
        <div class="cat" name="plat-cbx" value="xbox">
          <label><input type="checkbox" value="1"><span>Xbox</span></label>
        </div> 
        <div class="cat" name="plat-cbx" value="nintendo">
          <label><input type="checkbox" value="1"><span>Nintendo</span></label>
        </div>
        <div class="cat" name="plat-cbx" value="oculus">
          <label><input type="checkbox" value="1"><span>Oculus</span></label>
        </div>     
        <div class="cat" name="plat-cbx" value="">
          <label><input type="checkbox" value="1"><span>Any</span></label>
        </div>      
      </div>
      <br>
    </div>

    <br><br><br>

    <!-- Minimum Price Slider Section -->
    <div class="slider-container row">
      <br>
      <h2>Select a Minimum Rating</h2>
      <div id="slider" class="col-2"></div>
      <div class="col-1">
        <div id="custom-handle" class="ui-slider-handle"></div>
      </div>
    </div>

    <br><br><br>

    <!-- User Input Textbox Section -->
    <div class="mb-3 text-center">
      <label for="gameDescription" class="form-label">Describe the game you want to be recommended:</label>
      <textarea class="form-control textbox" id="gameDescription" name="gameDescription" rows="3"></textarea>
      <br><br><br>
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="submit-button"> Submit</button> 
      <br>
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="random-button"> I'm Feeling Lucky</button> 
    </div>
  </form>
  
  <!-- Loading Scripts -->
  <!-- Loading jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- Loading jQuery UI -->
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <!-- Loading Bootstrap JS (Optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Loading Custom JS -->
  <script src="{% static 'script.js' %}"></script>
</body>
</html>